/* -------------------------------------------------------------------------------------------- */
.ribbon {
    display: grid;
    grid-template-rows: auto 2rem;
    grid-template-columns: 1fr 1fr;

    margin-block-start: 1rem;
}

.ribbon:first-child {
    margin-block-start: 0;
}

/* -------------------------------------------------------------------------------------------- */
.ribbon > .text {
    justify-self: start;
    align-self: center;

    line-height: 1.35;
    font-size: 1rem;
}

.ribbon > .value {
    justify-self: end;
    align-self: center;

    line-height: 1.35;
    font-size: 1rem;
}

.ribbon > .range {
    box-sizing: content-box;
    position: relative;
    grid-column: 1 / 3;
    justify-self: center;
    align-self: center;

    inline-size: 100%;
    block-size: var( --ribbon-width );

    border: var( --border-width ) solid #fff;
    border-radius: var( --border-radius );
}

.ribbon.red > .range {
    background-image: linear-gradient( to right, #000, #f00 );
}

.ribbon.green > .range {
    background-image: linear-gradient( to right, #000, #0f0 );
}

.ribbon.blue > .range {
    background-image: linear-gradient( to right, #000, #00f );
}

.ribbon.alpha > .range {
    background-image: conic-gradient( #fff 0deg 90deg, #c8c8c8 90deg 180deg, #fff 180deg 270deg, #c8c8c8 270deg 360deg );
    background-position: top left;
    background-size: 12px 12px;
    background-repeat: repeat;
}

/* -------------------------------------------------------------------------------------------- */
.ribbon > .range > .overlay {
    position: absolute;
    top: 0;
    left: 0;

    inline-size: 100%;
    block-size: 100%;
}

.ribbon.red > .range > .overlay,
.ribbon.green > .range > .overlay,
.ribbon.blue > .range > .overlay {
    background-image: none;
}

.ribbon.alpha > .range > .overlay {
    background-image: linear-gradient( 90deg, #fff0, #ffff );
}

/* -------------------------------------------------------------------------------------------- */
.ribbon > .range > .anchor {
    position: absolute;
    top: 0;
    left: 50%;

    inline-size: calc( 100% - var( --border-width ) * 2 - 2px * 2 );
    block-size: 100%;
    margin-inline: auto;

    transform: translateX( -50% );
}

.ribbon > .range > .anchor > span {
    box-sizing: content-box;
    position: absolute;
    top: calc( -1 *  var( --border-width ) );
    left: 100%;

    inline-size: 5px;
    block-size: 100%;
    border: var( --border-width ) solid #fff;
    outline: var( --border-width ) solid #000;

    background-color: transparent;
    transform: translateX( -50% );
}

.ribbon.alpha > .range > .anchor > span {
    background-color: #c8c8c8;
}
