.container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    inline-size: 100%;
    block-size: 100%;
    padding-inline: calc( 50% - 15em );

    background-color: deeppink;
}
