:root {
    --border-radius: 5px;
    --border-width: 2px;

    --ribbon-width: 22px;

    --font-color: #fff;
    --font-family: monospace;
}

body {
    background-image: conic-gradient( #fff 0deg 90deg, #c8c8c8 90deg 180deg, #fff 180deg 270deg, #c8c8c8 270deg 360deg );
    background-position: top left;
    background-size: 12px 12px;
    background-repeat: repeat;
}

.container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    inline-size: 100%;
    block-size: 100%;
    padding: 0.75rem;

    color: var( --font-color );
    font-family: var( --font-family );
    font-size: 1rem;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
