.output {
    margin-block-start: 1.65rem;
    text-align: center;
}

.output > pre {
    display: inline;

    padding-inline: 0.35rem;

    font-size: 2rem;

    border-block-end: 2px solid var( --font-color );

    cursor: help;
}
