/* -------------------------------------------------------------------------------------------- */
.output {
    display: flex;
    justify-content: space-between;
    align-items: center;

    inline-size: 100%;
    max-inline-size: 30rem;
    margin-block: 0.75rem;
}

.output > .value,
.output > .controller {
    border-radius: var( --border-radius );
    background-color: #000;
}

/* -------------------------------------------------------------------------------------------- */
.output > .value {
    flex-grow: 1;

    padding: 0.75rem;
    margin-inline-end: 0.75rem;
    border: 1px solid transparent;

    text-align: center;

    transition: border-color 2s cubic-bezier( 0.17, 0.67, 0.36, 1.04 ) 0s;
}

/* -------------------------------------------------------------------------------------------- */
.output > .controller {
    display: flex;
    align-items: center;

    block-size: 100%;
    padding-inline: 0.75rem;
    border: 1px solid transparent;

    transition: border-color 2s cubic-bezier( 0.17, 0.67, 0.36, 1.04 ) 0s;
}

.output > .controller > button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;

    padding: 0.25rem;
    margin-inline-end: 0.35rem;

    border: 1px solid #fff;
    border-radius: var( --border-radius );

    color: #fff;
    cursor: pointer;
    background-color: #000;
}

.output > .controller > button:last-child {
    margin-inline-end: 0;
}

.output > .controller > button > svg {
    inline-size: 1rem;
    block-size: 1rem;

    color: inherit;
    vertical-align: bottom;
    background-color: inherit;
    animation: inherit;
}
