.picker {
    display: flex;
    flex-direction: column;

    inline-size: 100%;
    padding: 1em;

    color: var( --font-color );
    font-family: var( --font-family );

    border-radius: var( --border-radius );

    background-color: #000;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
