.palette {
    display: flex;
    flex-direction: column;

    inline-size: 100%;
    padding: 1rem;

    color: var( --font-color );
    font-family: var( --font-family );

    border: 1px solid #fff;
    border-radius: var( --border-radius );

    background-color: #000;
}
