/* -------------------------------------------------------------------------------------------- */
.picker {
    display: flex;

    flex-direction: column;

    inline-size: 100%;
    block-size: 20em;

    background-color: pink;
}

/* -------------------------------------------------------------------------------------------- */
.r, .g, .b, .a {
    display: flex;

    flex-grow: 1;
    flex-direction: column;
    justify-content: end;
}

/* -------------------------------------------------------------------------------------------- */
.r > .map,
.g > .map,
.b > .map,
.a > .map {
    inline-size: 100%;
    block-size: 2em;

    border: 2px solid #ffffff;
    border-radius: 5px;
}

.r > .map {
    background-image: linear-gradient( to right, #000, #f00 );
}

.g > .map {
    background-image: linear-gradient( to right, #000, #0f0 );
}

.b > .map {
    background-image: linear-gradient( to right, #000, #00f );
}

.a > .map {
    background-color: #ffffff;
    background-image:
        linear-gradient( 45deg, #ccc 25%, transparent 0%, transparent 75%, #ccc 0% ),
        linear-gradient( 45deg, #ccc 25%, transparent 0%, transparent 75%, #ccc 0% );
    background-position: 0 0, 6px 6px;
    background-size: 12px 12px;
}
